@import 'elements';
@import "dr-elements";

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.

.beta-banner  {
  @include phase-banner(beta); // Change this to (beta) for a beta banner
}
.beta-tag {
  @include phase-tag(beta); // Change this to (beta) for a beta tag
}

.helpful-documents {
	br {
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}
}
.img-responsive {
	min-width:100%;
	width: 100%;
	height: auto;
}

.permit-number {
	margin-bottom:0;
	.permitnotfound {
		color: $red;
	}
	.checking {
		.loading {
			img {
				vertical-align: middle;
			}
		}
	}
	p {
		.name	{
			font-weight: bold;
		}
	}
	.title {
		font-weight:600;
		margin-bottom:0;
	}
	.not-recognised {
		color:$text-colour;
	}
}

.panel-indent.error {
	border-left: 4px solid $red;
}
 
.file-summary {
	margin-top:0;
	margin-bottom:30px;
	p {
		.name	{
			font-weight: bold;
		}
	}
	.title {
		font-weight:600;
		margin-bottom:0;
	}
}

input.validation-code {
	width:100px;
}

p.back {
	margin-top:15px;
}

/* template */
.template {
	.ea-id {
		max-width:200px;
	}
}
