@charset "UTF-8";
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after, .attachment:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.example-highlight-grid .grid-row {
  background: #bfc1c3;
}

.example-highlight-grid .column-highlight {
  background: #dee0e2;
  width: 100%;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.js-enabled .js-hidden {
  display: none;
}

/* Borrowed from http://meyerweb.com/eric/tools/css/reset/ */
div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark {
  border: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: normal;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

main {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 641px) {
  main {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.font-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 53px;
  line-height: 1.0377358491;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-xxlarge {
    font-size: 80px;
    line-height: 1;
  }
}

.font-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-xlarge {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

.font-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.0416666667;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

.font-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

.font-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.font-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-xsmall {
    font-size: 16px;
    line-height: 1.25;
  }
}

.bold-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 53px;
  line-height: 1.0377358491;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-xxlarge {
    font-size: 80px;
    line-height: 1;
  }
}

.bold-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-xlarge {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

.bold-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.0416666667;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

.bold-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

.bold-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.bold-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-xsmall {
    font-size: 16px;
    line-height: 1.25;
  }
}

.heading-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 700;
  text-transform: none;
  margin-top: 0.46875em;
  margin-bottom: 0.9375em;
}

@media (min-width: 641px) {
  .heading-xlarge {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

@media (min-width: 641px) {
  .heading-xlarge {
    margin-top: 0.625em;
    margin-bottom: 1.25em;
  }
}

.heading-xlarge .heading-secondary {
  font-family: "nta", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.1111111111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  display: block;
  color: #6f777b;
}

@media (min-width: 641px) {
  .heading-xlarge .heading-secondary {
    font-size: 27px;
    line-height: 1.1111111111;
  }
}

@media (min-width: 641px) {
  .heading-xlarge .heading-secondary {
    padding-top: 4px;
    padding-bottom: 6px;
  }
}

.heading-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.0416666667;
  font-weight: 700;
  text-transform: none;
  margin-top: 1.0416666667em;
  margin-bottom: 0.4166666667em;
}

@media (min-width: 641px) {
  .heading-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

@media (min-width: 641px) {
  .heading-large {
    margin-top: 1.25em;
    margin-bottom: 0.5555555556em;
  }
}

.heading-large .heading-secondary {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  display: block;
  color: #6f777b;
}

@media (min-width: 641px) {
  .heading-large .heading-secondary {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media (min-width: 641px) {
  .heading-large .heading-secondary {
    padding-top: 6px;
    padding-bottom: 4px;
  }
}

.heading-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
}

@media (min-width: 641px) {
  .heading-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media (min-width: 641px) {
  .heading-medium {
    margin-top: 1.875em;
    margin-bottom: 0.8333333333em;
  }
}

.heading-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  margin-top: 0.625em;
  margin-bottom: 0.3125em;
}

@media (min-width: 641px) {
  .heading-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
  .heading-small {
    margin-top: 1.0526315789em;
  }
}

p {
  margin-top: 0.3125em;
  margin-bottom: 1.25em;
}

@media (min-width: 641px) {
  p {
    margin-top: 0.2631578947em;
    margin-bottom: 1.0526315789em;
  }
}

.lede {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .lede {
    font-size: 24px;
    line-height: 1.25;
  }
}

.text {
  max-width: 30em;
}

.text-secondary {
  color: #6f777b;
}

.link {
  color: #005ea5;
  text-decoration: underline;
}

.link:visited {
  color: #4c2c92;
}

.link:hover {
  color: #2b8cc4;
}

.link:active {
  color: #005ea5;
}

.link-back {
  display: -moz-inline-stack;
  display: inline-block;
  position: relative;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 14px;
  color: #0b0c0c;
  text-decoration: none;
  border-bottom: 1px solid #0b0c0c;
}

@media (min-width: 641px) {
  .link-back {
    font-size: 16px;
    line-height: 1.25;
  }
}

.link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
  color: #0b0c0c;
}

.link-back::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid #0b0c0c;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

@-moz-document url-prefix() {
  .link-back::before {
    border-top: 5px dotted rgba(255, 0, 0, 0);
    border-bottom: 5px dotted rgba(255, 0, 0, 0);
  }
}

.code {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: #0b0c0c;
  background-color: #f8f8f8;
  border: 1px solid #bfc1c3;
  padding: 4px 4px 2px 4px;
}

hr {
  display: block;
  background: #bfc1c3;
  border: 0;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after, .attachment:after {
  content: "";
  display: block;
  clear: both;
}

#content {
  max-width: 960px;
  margin: 0 15px;
}

@media (min-width: 641px) {
  #content {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  #content {
    margin: 0 auto;
  }
}

.grid-row, #global-breadcrumb {
  margin: 0 -15px;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after, .attachment:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.example-highlight-grid .grid-row {
  background: #bfc1c3;
}

.example-highlight-grid .column-highlight {
  background: #dee0e2;
  width: 100%;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.js-enabled .js-hidden {
  display: none;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after, .attachment:after {
  content: "";
  display: block;
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after, .attachment:after {
  content: "";
  display: block;
  clear: both;
}

#content {
  max-width: 960px;
  margin: 0 15px;
}

@media (min-width: 641px) {
  #content {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  #content {
    margin: 0 auto;
  }
}

.grid-row, #global-breadcrumb {
  margin: 0 -15px;
}

#content {
  padding-bottom: 30px;
}

@media (min-width: 769px) {
  #content {
    padding-bottom: 90px;
  }
}

.phase-banner {
  padding: 10px 0 8px;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  .phase-banner {
    padding-bottom: 10px;
  }
}

.phase-banner p {
  display: table;
  margin: 0;
  color: #000;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .phase-banner p {
    font-size: 16px;
    line-height: 1.25;
  }
}

.phase-banner .phase-tag {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #d53880;
}

@media (min-width: 641px) {
  .phase-banner .phase-tag {
    font-size: 16px;
    line-height: 1.25;
  }
}

.phase-banner span {
  display: table-cell;
  vertical-align: baseline;
}

.column-quarter {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-quarter {
    float: left;
    width: 25%;
  }
}

.column-half {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-half {
    float: left;
    width: 50%;
  }
}

.column-third {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-third {
    float: left;
    width: 33.3333333333%;
  }
}

.column-two-thirds {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-two-thirds {
    float: left;
    width: 66.6666666667%;
  }
}

#global-breadcrumb ol {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

@media (min-width: 641px) {
  #global-breadcrumb ol {
    float: left;
    width: 100%;
  }
}

#global-breadcrumb ol li {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  float: left;
  background-image: url("/public/images/separator.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  list-style: none;
  margin-right: 0.5em;
  margin-bottom: 0.4em;
  margin-left: 0;
  padding-right: 1em;
}

@media (min-width: 641px) {
  #global-breadcrumb ol li {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #global-breadcrumb ol li {
    background-image: url("/public/images/separator-2x.png");
    background-size: 6px 11px;
  }
}

#global-breadcrumb ol li a {
  color: #0b0c0c;
}

#global-breadcrumb ol li strong {
  font-weight: normal;
}

#global-breadcrumb ol li:last-child {
  background-image: none;
  margin-right: 0;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after, .attachment:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.example-highlight-grid .grid-row {
  background: #bfc1c3;
}

.example-highlight-grid .column-highlight {
  background: #dee0e2;
  width: 100%;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.js-enabled .js-hidden {
  display: none;
}

fieldset {
  width: 100%;
}

textarea {
  display: block;
}

.form-group {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

@media (min-width: 641px) {
  .form-group {
    margin-bottom: 30px;
  }
}

.form-group-related {
  margin-bottom: 10px;
}

@media (min-width: 641px) {
  .form-group-related {
    margin-bottom: 20px;
  }
}

.form-group-compound {
  margin-bottom: 10px;
}

.form-label,
.form-label-bold {
  display: block;
  color: #0b0c0c;
}

.form-label {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .form-label {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.form-label-bold {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .form-label-bold {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

legend .form-label,
legend .form-label-bold {
  padding-bottom: 7px;
}

.error legend .form-label,
.error legend .form-label-bold {
  padding-bottom: 0;
}

.form-block {
  float: left;
  width: 100%;
  margin-top: -5px;
  margin-bottom: 5px;
}

@media (min-width: 641px) {
  .form-block {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.form-hint {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  display: block;
  color: #6f777b;
  font-weight: normal;
  margin-bottom: 5px;
}

@media (min-width: 641px) {
  .form-hint {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.form-control {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  padding: 4px;
  background-color: #fff;
  border: 2px solid #6f777b;
}

@media (min-width: 641px) {
  .form-control {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
  .form-control {
    width: 50%;
  }
}

.form-radio {
  display: block;
  margin: 10px 0;
}

.form-radio input {
  vertical-align: middle;
  margin: -4px 5px 0 0;
}

.form-checkbox {
  display: block;
  margin: 15px 0;
}

.form-checkbox input {
  vertical-align: middle;
  margin: -2px 5px 0 0;
}

.form-control-3-4 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-3-4 {
    width: 75%;
  }
}

.form-control-2-3 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-2-3 {
    width: 66.66%;
  }
}

.form-control-1-2 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-2 {
    width: 50%;
  }
}

.form-control-1-3 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-3 {
    width: 33.33%;
  }
}

.form-control-1-4 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-4 {
    width: 25%;
  }
}

.form-control-1-8 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-8 {
    width: 12.5%;
  }
}

.error {
  margin-right: 15px;
}

.error .error-message {
  color: #b10e1e;
  font-weight: bold;
}

.error .form-control {
  border: 4px solid #b10e1e;
}

.error .form-hint {
  margin-bottom: 0;
}

.error,
.error-summary {
  border-left: 4px solid #b10e1e;
  padding-left: 10px;
}

@media (min-width: 641px) {
  .error,
  .error-summary {
    border-left: 5px solid #b10e1e;
    padding-left: 15px;
  }
}

.error-message {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  display: block;
  clear: both;
  margin: 0;
  padding: 5px 0 7px 0;
}

@media (min-width: 641px) {
  .error-message {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.error-summary {
  border: 4px solid #b10e1e;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px;
}

@media (min-width: 641px) {
  .error-summary {
    border: 5px solid #b10e1e;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px 15px;
  }
}

.error-summary:focus {
  outline: 3px solid #ffbf47;
}

.error-summary .error-summary-heading {
  margin-top: 0;
}

.error-summary p {
  margin-bottom: 10px;
}

.error-summary .error-summary-list {
  padding-left: 0;
}

@media (min-width: 641px) {
  .error-summary .error-summary-list li {
    margin-bottom: 5px;
  }
}

.error-summary .error-summary-list a {
  color: #b10e1e;
  font-weight: bold;
  text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form-date .form-group {
  float: left;
  width: 50px;
  margin-right: 20px;
  margin-bottom: 0;
  clear: none;
}

.form-date .form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-date .form-group input {
  width: 100%;
}

.form-date .form-group-year {
  width: 70px;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: 18px 30px 15px 54px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media (min-width: 641px) {
  .block-label {
    float: left;
  }
}

.block-label input {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  margin: 0;
  width: 29px;
  height: 29px;
}

.block-label:hover {
  border-color: #0b0c0c;
}

.block-label:last-child {
  margin-bottom: 0;
}

.inline .block-label {
  clear: none;
  margin-right: 10px;
}

.js-enabled label.selected {
  background: #fff;
  border-color: #0b0c0c;
}

.js-enabled label.focused {
  outline: 3px solid #ffbf47;
}

.js-enabled .focused input:focus {
  outline: none;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th,
table td {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  padding: 0.75em 1.25em 0.5625em 0;
  text-align: left;
  color: #0b0c0c;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  table th,
  table td {
    font-size: 16px;
    line-height: 1.25;
  }
}

table th {
  font-weight: 700;
}

table th.numeric {
  text-align: right;
}

table td.numeric {
  font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  text-align: right;
}

@media (min-width: 641px) {
  table td.numeric {
    font-size: 16px;
    line-height: 1.25;
  }
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after, .attachment:after {
  content: "";
  display: block;
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 15px 15px 0;
  padding: 0.5263157895em 0.7894736842em 0.2631578947em 0.7894736842em;
  vertical-align: top;
}

.button:visited {
  background-color: #00823b;
}

.button:hover, .button:focus {
  background-color: #00692f;
}

.button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #00823b;
  -moz-box-shadow: 0 0 0 #00823b;
  box-shadow: 0 0 0 #00823b;
}

.button.disabled, .button[disabled="disabled"], .button[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
  cursor: default;
  background-color: #00823b;
}

.button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
}

.button:link, .button:hover, .button:focus, .button:visited {
  color: #fff;
}

.button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.button:active:before {
  top: -10%;
  height: 120%;
}

.button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 640px) {
  .button {
    width: 100%;
  }
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:focus {
  outline: 3px solid #ffbf47;
}

.button[disabled="disabled"] {
  background: #00823b;
}

.button[disabled="disabled"]:focus {
  outline: none;
}

.button-start,
.button-get-started {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  background-image: url("/public/images/icons/icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 0.3684210526em 2.1578947368em 0.2105263158em 0.8421052632em;
}

@media (min-width: 641px) {
  .button-start,
  .button-get-started {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .button-start,
  .button-get-started {
    background-image: url("/public/images/icons/icon-pointer-2x.png");
    background-size: 30px 19px;
  }
}

details {
  display: block;
}

details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.2631578947em;
}

details summary:hover {
  color: #2b8cc4;
}

details summary:focus {
  outline: 3px solid #ffbf47;
}

details .summary {
  text-decoration: underline;
}

details .arrow {
  margin-right: .35em;
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

.list-bullet {
  list-style-type: disc;
  padding-left: 20px;
}

.list-number {
  list-style-type: decimal;
  padding-left: 20px;
}

.list-bullet,
.list-number {
  margin-top: 5px;
  margin-bottom: 20px;
}

.list-bullet li,
.list-number li {
  margin-bottom: 5px;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after, .attachment:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.example-highlight-grid .grid-row {
  background: #bfc1c3;
}

.example-highlight-grid .column-highlight {
  background: #dee0e2;
  width: 100%;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.js-enabled .js-hidden {
  display: none;
}

.panel-indent {
  clear: both;
  border-left: 5px solid #bfc1c3;
  padding: 0.7894736842em;
  margin-bottom: 0.7894736842em;
}

.panel-indent :first-child {
  margin-top: 0;
}

.panel-indent :only-child,
.panel-indent :last-child {
  margin-bottom: 0;
}

.panel-indent-info {
  border-left-width: 10px;
}

.form-group .panel-indent {
  padding-bottom: 0;
}

.govuk-box-highlight {
  margin: 1em 0 1em 0;
  padding: 2em 0 1em 0;
  color: #fff;
  background: #28a197;
  text-align: center;
}

.attachment {
  position: relative;
  margin: 30px 0;
  padding: 15px 0 0 129px;
}

.attachment .attachment-thumb {
  position: relative;
  float: left;
  margin-top: 5px;
  margin-left: -124px;
  padding-bottom: 15px;
}

.attachment .attachment-thumb img {
  display: block;
  width: 99px;
  height: 140px;
  background: white;
  outline: 5px solid rgba(11, 12, 12, 0.1);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.attachment .title a {
  text-decoration: underline;
}

.attachment .attachment-details h1, .attachment .attachment-details h2, .attachment .attachment-details h3 {
  font-family: "nta", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.1111111111;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 3px;
  margin: 0;
}

@media (min-width: 641px) {
  .attachment .attachment-details h1, .attachment .attachment-details h2, .attachment .attachment-details h3 {
    font-size: 27px;
    line-height: 1.1111111111;
  }
}

@media (max-width: 640px) {
  .attachment .attachment-details h1, .attachment .attachment-details h2, .attachment .attachment-details h3 {
    padding-top: 7px;
    padding-bottom: 3px;
  }
}

.attachment .attachment-details h2 {
  padding-top: 0;
}

@media (min-width: 641px) {
  .attachment .attachment-details h2 {
    padding-top: 7px;
  }
}

.attachment .attachment-details h3 {
  font-weight: bold;
}

.attachment .attachment-details .metadata {
  font-family: "nta", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 6px;
  padding-bottom: 4px;
  margin: 0;
}

@media (min-width: 641px) {
  .attachment .attachment-details .metadata {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

@media (max-width: 640px) {
  .attachment .attachment-details .metadata {
    padding-top: 4px;
    padding-bottom: 1px;
  }
}

.attachment .attachment-details .metadata .changed,
.attachment .attachment-details .metadata .references {
  display: block;
}

.attachment .attachment-details .metadata .unnumbered-paper {
  display: block;
}

.attachment .attachment-details .preview,
.attachment .attachment-details .download {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .attachment .attachment-details .preview,
  .attachment .attachment-details .download {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.attachment .attachment-details .preview {
  padding-right: 15px;
}

.attachment .opendocument-help {
  margin: 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 6px;
  padding-bottom: 4px;
}

@media (min-width: 641px) {
  .attachment .opendocument-help {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

@media (max-width: 640px) {
  .attachment .opendocument-help {
    padding-top: 4px;
    padding-bottom: 1px;
  }
}

.attachment .opendocument-help a:after {
  content: "     ";
  background-position: right 1px;
}

.attachment .opendocument-help a:hover:after {
  background-position: right -387px;
}

.attachment .accessibility-warning {
  margin-top: 10px;
}

.attachment .accessibility-warning h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 6px;
  padding-bottom: 4px;
  margin: 0;
  color: #0b0c0c;
}

@media (min-width: 641px) {
  .attachment .accessibility-warning h2 {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

@media (max-width: 640px) {
  .attachment .accessibility-warning h2 {
    padding-top: 4px;
    padding-bottom: 1px;
  }
}

.attachment:first-child {
  margin-top: 0;
  padding-top: 0;
}

.attachment strong {
  font-weight: bold;
}

/* Autocomplete */
.ui-autocomplete {
  padding: 0;
  list-style: none;
  background-color: #fff;
  width: 218px;
  border: 1px solid #B0BECA;
  max-height: 350px;
  overflow-x: hidden;
}

.ui-autocomplete .ui-menu-item {
  border-top: 1px solid #B0BECA;
  display: block;
  padding: 4px 6px;
  color: #353D44;
  cursor: pointer;
}

.ui-autocomplete .ui-menu-item:first-child {
  border-top: none;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #D5E5F4;
  color: #161A1C;
}

.button-secondary {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
}

.button-secondary:visited {
  background-color: #dee0e2;
}

.button-secondary:hover, .button-secondary:focus {
  background-color: #d0d3d6;
}

.button-secondary:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #dee0e2;
  -moz-box-shadow: 0 0 0 #dee0e2;
  box-shadow: 0 0 0 #dee0e2;
}

.button-secondary.disabled, .button-secondary[disabled="disabled"], .button-secondary[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.button-secondary.disabled:hover, .button-secondary[disabled="disabled"]:hover, .button-secondary[disabled]:hover {
  cursor: default;
  background-color: #dee0e2;
}

.button-secondary.disabled:active, .button-secondary[disabled="disabled"]:active, .button-secondary[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
}

.button-secondary:link, .button-secondary:hover, .button-secondary:focus, .button-secondary:visited {
  color: #0b0c0c;
}

.button-secondary:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.button-secondary:active:before {
  top: -10%;
  height: 120%;
}

.button-secondary[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

.button-secondary.back {
  padding: 0.526316em 0.789474em 0.263158em;
}

.button-get-started {
  background-image: url("/public/images/icons/icon-pointer.png");
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
.help-notice {
  background: none;
  background: url("/public/images/icons/icon-important.png") no-repeat scroll 0 0.2em;
  margin: 30px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .help-notice {
    background-image: url("/public/images/icons/icon-important-2x.png");
    background-size: 34px 34px;
  }
}

.help-notice p {
  font-weight: 600;
  padding: 0 1em 0 2.5em;
}

.help-notice p a {
  font-weight: 600;
}

p + .help-notice {
  margin-top: 2em;
}

.call-to-action {
  background: #dee0e2;
  margin: 30px 0;
  padding: 10px 60px 10px 15px;
  position: relative;
}

.call-to-action p {
  margin: 0;
  padding: 0;
}

.help-csv {
  margin: 10px 0;
}

.attachment .assistive-technology {
  color: #0b0c0c;
  font-family: "nta",Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 6px;
  text-transform: none;
}

.attachment .attachment-thumb {
  float: left;
  width: 124px;
  margin-top: 5px;
  padding-bottom: 15px;
  position: relative;
}

.attachment .attachment-thumb img {
  background: white none repeat scroll 0 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  display: block;
  height: 140px;
  outline: 5px solid rgba(11, 12, 12, 0.1);
  width: 99px;
}

.attachment .attachment-thumb a {
  display: inline-block;
}

.attachment .title a {
  text-decoration: underline;
}

.helpful-documents br {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.permit-number {
  margin-bottom: 0;
}

.permit-number .permitnotfound {
  color: #b10e1e;
}

.permit-number .checking .loading img {
  vertical-align: middle;
}

.permit-number p .name {
  font-weight: bold;
}

.permit-number .title {
  font-weight: 600;
  margin-bottom: 0;
}

.permit-number .not-recognised {
  color: #0b0c0c;
}

.img-responsive {
  min-width: 100%;
  width: 100%;
  height: auto;
}

.panel-indent.error {
  border-left: 4px solid #b10e1e;
}

input.validation-code {
  width: 100px;
}

.data-exchange-protocol .column-three-quarters {
  float: left;
  width: 75%;
  box-sizing: border-box;
  padding: 0 15px;
}

.data-exchange-protocol .inner-block {
  padding: 0 30px;
}

.data-exchange-protocol .heading {
  padding: 45px 0;
}

.data-exchange-protocol .heading .type {
  color: #6f777b;
  margin-bottom: 0.2em;
}

.data-exchange-protocol .list li {
  margin-bottom: 10px;
}

.data-exchange-protocol .list li:last-child {
  margin-bottom: 0;
}

.data-exchange-protocol .editions h2 {
  font-size: 27px;
  font-weight: 400;
  line-height: 1.11111;
  padding-top: 30px;
  text-transform: none;
}

.data-exchange-protocol .editions .document-list .document-row {
  border-bottom: 1px solid #bfc1c3;
  display: block;
  list-style: outside none none;
  overflow: hidden;
  padding: 5px 0 10px;
}

.data-exchange-protocol .editions .document-list .document-row h3 {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.31579;
  margin-top: 5px;
  text-transform: none;
}

.data-exchange-protocol .editions .document-list .document-row ul li {
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  list-style: outside none none;
  padding: 0 15px 0 0;
  text-transform: none;
}

.data-exchange-protocol .editions .document-list .document-row a {
  text-decoration: none;
}

.data-exchange-protocol .metadata-list {
  display: block;
  clear: both;
  margin-bottom: 30px;
  overflow: hidden;
}

.data-exchange-protocol .metadata-list a {
  text-decoration: none;
}

.data-exchange-protocol .metadata-list dl {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-transform: none;
}

.data-exchange-protocol .metadata-list dl dt {
  min-width: 120px;
  padding-right: 10px;
  width: auto;
  clear: left;
  float: left;
}

.data-exchange-protocol .metadata-list dl dd {
  width: 70%;
  float: left;
}

.data-exchange-protocol .contextual-info {
  padding-top: 5px;
  font-size: 16px;
}

.data-exchange-protocol .contextual-info h1 {
  margin: 0;
  padding: 0;
}

.data-exchange-protocol .contextual-info ol {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  text-transform: none;
}

.data-exchange-protocol .contextual-info li a {
  text-decoration: none;
}

.data-exchange-protocol .contextual-info .dash-list {
  margin-bottom: 20px;
}

.data-exchange-protocol .contextual-info .dash-list li {
  list-style-position: inside;
  padding: 0 15px 0 0;
}

@media (min-width: 1px) {
  .data-exchange-protocol .contextual-info .dash-list li {
    list-style: outside none none;
    margin-left: 15px;
  }
  .data-exchange-protocol .contextual-info .dash-list li::before {
    content: "-";
    float: left;
    margin-left: -15px;
    position: relative;
    width: 15px;
  }
}

@media (min-width: 769px) {
  .data-exchange-protocol .contextual-info .dash-list li {
    padding-top: 5px;
  }
}

.data-exchange-protocol .summary {
  padding-bottom: 45px;
  padding-top: 15px;
}

.data-exchange-protocol .back {
  background: #2b8cc4 none repeat scroll 0 0;
  display: block;
  margin-left: 0;
  margin-top: 30px;
  padding: 5px;
}

.data-exchange-protocol h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .data-exchange-protocol h2 {
    font-size: 24px;
    line-height: 1.25;
  }
}

.data-exchange-protocol h3 {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .data-exchange-protocol h3 {
    font-size: 24px;
    line-height: 1.25;
  }
}

.data-exchange-protocol h4, .data-exchange-protocol caption {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .data-exchange-protocol h4, .data-exchange-protocol caption {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.data-exchange-protocol strong {
  font-weight: bold;
}

.data-exchange-protocol table {
  margin-bottom: 45px;
  margin-top: 15px;
}

.data-exchange-protocol table caption {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: none;
  text-align: left;
}

@media (min-width: 641px) {
  .data-exchange-protocol table caption {
    font-size: 16px;
    line-height: 1.25;
  }
}

.data-exchange-protocol table th, .data-exchange-protocol table td {
  vertical-align: top;
}

.data-exchange-protocol table td p:first-child {
  margin-top: 0;
}

.data-exchange-protocol table td p:last-child {
  margin-bottom: 0;
}

.data-exchange-protocol .date-and-time th {
  width: 25%;
}

.data-exchange-protocol .date-and-time td th {
  width: inherit;
}

.file-upload .well {
  margin-bottom: 30px;
}

.file-upload .well .button-choose-file {
  margin: 15px 0;
}

.file-upload #banner-notification {
  margin-top: 15px;
}

.file-summary {
  margin-top: 0;
  margin-bottom: 30px;
}

.file-summary p .name {
  font-weight: bold;
}

.file-summary .title {
  font-weight: 600;
  margin-bottom: 0;
}

.help-text-reg {
  margin-bottom: 30px;
}

.button-get-started {
  background-image: url("/public/images/icons/icon-pointer.png");
}

.btn-file {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.statusbar {
  border-top: none;
  border-bottom: 1px solid #BFC1C3;
  border-left: 4px solid #fff;
  min-height: 25px;
  width: auto;
  padding: 10px 0 5px 10px;
  vertical-align: top;
  font-size: 16px;
}

.filename {
  display: inline-block;
  vertical-align: top;
  width: 190px;
  min-height: 25px;
  max-height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filename.file-label {
  font-weight: 600;
}

.error-summary .error-message {
  font-weight: bold;
  color: #b10e1e;
}

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=b84fa3c10aa58ead087b)
 * Config saved to config.json and https://gist.github.com/b84fa3c10aa58ead087b
 */
/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 30px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
}

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}

.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

.multi-panel {
  margin-bottom: 0.789474em;
}

.multi-panel .panel {
  margin-bottom: 0;
}

.error-table {
  margin-bottom: 30px;
}

.error-table td {
  vertical-align: top;
}

.error-table td p:first-child {
  margin-top: 0;
}

.error-table td p:last-child {
  margin-bottom: 0;
}

.single-column {
  width: inherit;
}

.example-file {
  width: 100%;
  margin-bottom: 60px;
}

.example-file table th, .example-file table td {
  white-space: nowrap;
}

/* REQUIRED for core functionality of tab.js */
.responsive-tabs__heading {
  display: none;
}

.responsive-tabs__list__item {
  display: inline;
  cursor: pointer;
}

@media (max-width: 640px) {
  .responsive-tabs__list {
    display: none;
  }
  .responsive-tabs__heading {
    display: block;
    cursor: pointer;
  }
  .responsive-tabs__panel--closed-accordion-only {
    display: none;
  }
  .error-table-units .filter {
    float: none;
    width: 100%;
  }
  .responsive-stacked-table thead {
    display: none;
  }
  .responsive-stacked-table tr,
  .responsive-stacked-table th,
  .responsive-stacked-table td {
    display: block;
    margin: 2px 0;
  }
  .responsive-stacked-table td {
    border: none;
  }
  .responsive-stacked-table tr td:first-child {
    border-top: 1px solid #000;
    font-weight: bold;
  }
  .responsive-stacked-table tr td:first-child {
    font-weight: 300;
  }
  .responsive-stacked-table td:before {
    display: block;
    font-weight: bold;
  }
  .responsive-stacked-table td:nth-of-type(1):before {
    content: "Row:";
  }
  .responsive-stacked-table td:nth-of-type(2):before {
    content: "Column:";
  }
  .responsive-stacked-table td:nth-of-type(3):before {
    content: "Error:";
  }
  .responsive-stacked-table td:nth-of-type(4):before {
    content: "How to fix it:";
  }
  .responsive-stacked-table td td,
  .responsive-stacked-table td td:first-child {
    border-top: 1px solid #bfc1c3;
  }
  .responsive-stacked-table td td:nth-of-type(1):before {
    content: none;
  }
  .responsive-stacked-table td td:nth-of-type(2):before {
    content: none;
  }
}

@media (min-width: 769px) {
  .responsive-tabs__panel--closed-accordion-only {
    display: block;
  }
}

/* END - Required for core functionality of tab.js */
.responsive-tabs-wrapper {
  clear: both;
  zoom: 1;
}

.responsive-tabs-wrapper:before,
.responsive-tabs-wrapper:after {
  content: "";
  display: table;
}

.responsive-tabs-wrapper:after {
  clear: both;
}

.responsive-tabs__heading:focus,
.responsive-tabs__list__item:focus {
  outline: 3px solid #ffbf47;
}

.responsive-tabs__heading--active:focus,
.responsive-tabs__list__item--active:focus {
  outline: 3px solid #ffbf47;
}

.responsive-tabs__list {
  margin: 2em 0 0 0;
  padding: 0;
  border-bottom: 1px solid #bfc1c3;
  padding-bottom: 19px;
  font-size: 16px;
  line-height: 16px;
}

.responsive-tabs__list__item {
  padding: 10px 20px;
  margin-right: 0.3em;
  border: 1px solid #dee0e2;
  border-collapse: collapse;
  border-spacing: 0;
  background: #dee0e2;
  line-height: 16px;
  font-size: 16px;
  text-align: left;
}

.responsive-tabs__list__item:hover {
  background: #dee0e2;
}

.responsive-tabs__list__item--active,
.responsive-tabs__list__item--active:hover {
  background: #fff;
  border: 1px solid #bfc1c3;
  border-bottom: 0;
  color: #0b0c0c;
  padding: 16px 20px 17px;
}

.responsive-tabs__panel {
  margin-bottom: 1.05263em;
}

.responsive-tabs th p {
  margin-right: 15px;
}

.responsive-tabs td {
  padding-right: 5px;
}

.back-to-top a {
  float: right;
  padding-bottom: 15px;
}

@media (max-width: 640px) {
  .responsive-tabs__heading {
    padding: 0.5em;
    border: 1px solid #ccc;
    background: #dee0e2;
    position: relative;
    margin-bottom: 10px;
  }
  .responsive-tabs__heading:after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 40%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
  }
  .responsive-tabs__heading:hover,
  .responsive-tabs__heading--active:hover {
    background-color: #fff;
  }
  .responsive-tabs__heading--active {
    background: #fff;
  }
  .responsive-tabs__heading--active:after {
    border-bottom: 10px solid #000;
    border-top: 0;
  }
  .responsive-tabs {
    width: 100%;
  }
}

.beta-banner {
  padding: 10px 0 8px;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  .beta-banner {
    padding-bottom: 10px;
  }
}

.beta-banner p {
  display: table;
  margin: 0;
  color: #000;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .beta-banner p {
    font-size: 16px;
    line-height: 1.25;
  }
}

.beta-banner .phase-tag {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #f47738;
}

@media (min-width: 641px) {
  .beta-banner .phase-tag {
    font-size: 16px;
    line-height: 1.25;
  }
}

.beta-banner span {
  display: table-cell;
  vertical-align: baseline;
}

.beta-tag {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #f47738;
}

@media (min-width: 641px) {
  .beta-tag {
    font-size: 16px;
    line-height: 1.25;
  }
}

.helpful-documents br {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.img-responsive {
  min-width: 100%;
  width: 100%;
  height: auto;
}

.permit-number {
  margin-bottom: 0;
}

.permit-number .permitnotfound {
  color: #b10e1e;
}

.permit-number .checking .loading img {
  vertical-align: middle;
}

.permit-number p .name {
  font-weight: bold;
}

.permit-number .title {
  font-weight: 600;
  margin-bottom: 0;
}

.permit-number .not-recognised {
  color: #0b0c0c;
}

.panel-indent.error {
  border-left: 4px solid #b10e1e;
}

.file-summary {
  margin-top: 0;
  margin-bottom: 30px;
}

.file-summary p .name {
  font-weight: bold;
}

.file-summary .title {
  font-weight: 600;
  margin-bottom: 0;
}

input.validation-code {
  width: 100px;
}

p.back {
  margin-top: 15px;
}

/* template */
.template .ea-id {
  max-width: 200px;
}
