@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.example-highlight-grid .grid-row {
  background: #bfc1c3;
}

.example-highlight-grid .column-highlight {
  background: #dee0e2;
  width: 100%;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.js-enabled .js-hidden {
  display: none;
}

/* Borrowed from http://meyerweb.com/eric/tools/css/reset/ */
div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark {
  border: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: normal;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

main {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 641px) {
  main {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.font-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 53px;
  line-height: 1.0377358491;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-xxlarge {
    font-size: 80px;
    line-height: 1;
  }
}

.font-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-xlarge {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

.font-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.0416666667;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

.font-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

.font-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.font-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-xsmall {
    font-size: 16px;
    line-height: 1.25;
  }
}

.bold-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 53px;
  line-height: 1.0377358491;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-xxlarge {
    font-size: 80px;
    line-height: 1;
  }
}

.bold-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-xlarge {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

.bold-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.0416666667;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

.bold-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

.bold-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.bold-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-xsmall {
    font-size: 16px;
    line-height: 1.25;
  }
}

.heading-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 700;
  text-transform: none;
  margin-top: 0.46875em;
  margin-bottom: 0.9375em;
}

@media (min-width: 641px) {
  .heading-xlarge {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

@media (min-width: 641px) {
  .heading-xlarge {
    margin-top: 0.625em;
    margin-bottom: 1.25em;
  }
}

.heading-xlarge .heading-secondary {
  font-family: "nta", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.1111111111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  display: block;
  color: #6f777b;
}

@media (min-width: 641px) {
  .heading-xlarge .heading-secondary {
    font-size: 27px;
    line-height: 1.1111111111;
  }
}

@media (min-width: 641px) {
  .heading-xlarge .heading-secondary {
    padding-top: 4px;
    padding-bottom: 6px;
  }
}

.heading-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.0416666667;
  font-weight: 700;
  text-transform: none;
  margin-top: 1.0416666667em;
  margin-bottom: 0.4166666667em;
}

@media (min-width: 641px) {
  .heading-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

@media (min-width: 641px) {
  .heading-large {
    margin-top: 1.25em;
    margin-bottom: 0.5555555556em;
  }
}

.heading-large .heading-secondary {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  display: block;
  color: #6f777b;
}

@media (min-width: 641px) {
  .heading-large .heading-secondary {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media (min-width: 641px) {
  .heading-large .heading-secondary {
    padding-top: 6px;
    padding-bottom: 4px;
  }
}

.heading-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
}

@media (min-width: 641px) {
  .heading-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media (min-width: 641px) {
  .heading-medium {
    margin-top: 1.875em;
    margin-bottom: 0.8333333333em;
  }
}

.heading-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  margin-top: 0.625em;
  margin-bottom: 0.3125em;
}

@media (min-width: 641px) {
  .heading-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
  .heading-small {
    margin-top: 1.0526315789em;
  }
}

p {
  margin-top: 0.3125em;
  margin-bottom: 1.25em;
}

@media (min-width: 641px) {
  p {
    margin-top: 0.2631578947em;
    margin-bottom: 1.0526315789em;
  }
}

.lede {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .lede {
    font-size: 24px;
    line-height: 1.25;
  }
}

.text {
  max-width: 30em;
}

.text-secondary {
  color: #6f777b;
}

.link {
  color: #005ea5;
  text-decoration: underline;
}

.link:visited {
  color: #4c2c92;
}

.link:hover {
  color: #2e8aca;
}

.link:active {
  color: #005ea5;
}

.link-back {
  display: -moz-inline-stack;
  display: inline-block;
  position: relative;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 14px;
  color: #0b0c0c;
  text-decoration: none;
  border-bottom: 1px solid #0b0c0c;
}

@media (min-width: 641px) {
  .link-back {
    font-size: 16px;
    line-height: 1.25;
  }
}

.link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
  color: #0b0c0c;
}

.link-back::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid #0b0c0c;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

@-moz-document url-prefix() {
  .link-back::before {
    border-top: 5px dotted rgba(255, 0, 0, 0);
    border-bottom: 5px dotted rgba(255, 0, 0, 0);
  }
}

.code {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: #0b0c0c;
  background-color: #f8f8f8;
  border: 1px solid #bfc1c3;
  padding: 4px 4px 2px 4px;
}

hr {
  display: block;
  background: #bfc1c3;
  border: 0;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

#content {
  max-width: 960px;
  margin: 0 15px;
}

@media (min-width: 641px) {
  #content {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  #content {
    margin: 0 auto;
  }
}

.grid-row, #global-breadcrumb {
  margin: 0 -15px;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.example-highlight-grid .grid-row {
  background: #bfc1c3;
}

.example-highlight-grid .column-highlight {
  background: #dee0e2;
  width: 100%;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.js-enabled .js-hidden {
  display: none;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

#content {
  max-width: 960px;
  margin: 0 15px;
}

@media (min-width: 641px) {
  #content {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  #content {
    margin: 0 auto;
  }
}

.grid-row, #global-breadcrumb {
  margin: 0 -15px;
}

#content {
  padding-bottom: 30px;
}

@media (min-width: 769px) {
  #content {
    padding-bottom: 90px;
  }
}

.phase-banner {
  padding: 10px 0 8px 0;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  .phase-banner {
    padding-bottom: 10px;
  }
}

.phase-banner p {
  margin: 0;
  color: #000;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .phase-banner p {
    font-size: 16px;
    line-height: 1.25;
  }
}

.phase-banner .phase-tag {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #d53880;
}

@media (min-width: 641px) {
  .phase-banner .phase-tag {
    vertical-align: baseline;
  }
}

@media (min-width: 641px) {
  .phase-banner .phase-tag {
    font-size: 16px;
    line-height: 1.25;
  }
}

.phase-banner span {
  vertical-align: top;
}

@media (min-width: 641px) {
  .phase-banner span {
    vertical-align: baseline;
  }
}

.column-quarter {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-quarter {
    float: left;
    width: 25%;
  }
}

.column-half {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-half {
    float: left;
    width: 50%;
  }
}

.column-third {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-third {
    float: left;
    width: 33.3333333333%;
  }
}

.column-two-thirds {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-two-thirds {
    float: left;
    width: 66.6666666667%;
  }
}

#global-breadcrumb ol {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

@media (min-width: 641px) {
  #global-breadcrumb ol {
    float: left;
    width: 100%;
  }
}

#global-breadcrumb ol li {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  float: left;
  background-image: url("/public/images/separator.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  list-style: none;
  margin-right: 0.5em;
  margin-bottom: 0.4em;
  margin-left: 0;
  padding-right: 1em;
}

@media (min-width: 641px) {
  #global-breadcrumb ol li {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #global-breadcrumb ol li {
    background-image: url("/public/images/separator-2x.png");
    background-size: 6px 11px;
  }
}

#global-breadcrumb ol li a {
  color: #0b0c0c;
}

#global-breadcrumb ol li strong {
  font-weight: normal;
}

#global-breadcrumb ol li:last-child {
  background-image: none;
  margin-right: 0;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.example-highlight-grid .grid-row {
  background: #bfc1c3;
}

.example-highlight-grid .column-highlight {
  background: #dee0e2;
  width: 100%;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.js-enabled .js-hidden {
  display: none;
}

fieldset {
  width: 100%;
}

textarea {
  display: block;
}

.form-group {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

@media (min-width: 641px) {
  .form-group {
    margin-bottom: 30px;
  }
}

.form-group-related {
  margin-bottom: 10px;
}

@media (min-width: 641px) {
  .form-group-related {
    margin-bottom: 20px;
  }
}

.form-group-compound {
  margin-bottom: 10px;
}

.form-label,
.form-label-bold {
  display: block;
  color: #0b0c0c;
}

.form-label {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .form-label {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.form-label-bold {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .form-label-bold {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

legend .form-label,
legend .form-label-bold {
  padding-bottom: 7px;
}

.error legend .form-label,
.error legend .form-label-bold {
  padding-bottom: 0;
}

.form-block {
  float: left;
  width: 100%;
  margin-top: -5px;
  margin-bottom: 5px;
}

@media (min-width: 641px) {
  .form-block {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.form-hint {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  display: block;
  color: #6f777b;
  font-weight: normal;
  margin-bottom: 5px;
}

@media (min-width: 641px) {
  .form-hint {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.form-control {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  padding: 4px;
  background-color: #fff;
  border: 2px solid #6f777b;
}

@media (min-width: 641px) {
  .form-control {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
  .form-control {
    width: 50%;
  }
}

.form-radio {
  display: block;
  margin: 10px 0;
}

.form-radio input {
  vertical-align: middle;
  margin: -4px 5px 0 0;
}

.form-checkbox {
  display: block;
  margin: 15px 0;
}

.form-checkbox input {
  vertical-align: middle;
  margin: -2px 5px 0 0;
}

.form-control-3-4 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-3-4 {
    width: 75%;
  }
}

.form-control-2-3 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-2-3 {
    width: 66.66%;
  }
}

.form-control-1-2 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-2 {
    width: 50%;
  }
}

.form-control-1-3 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-3 {
    width: 33.33%;
  }
}

.form-control-1-4 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-4 {
    width: 25%;
  }
}

.form-control-1-8 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-8 {
    width: 12.5%;
  }
}

.error {
  margin-right: 15px;
}

.error .error-message {
  color: #b10e1e;
  font-weight: bold;
}

.error .form-control {
  border: 4px solid #b10e1e;
}

.error .form-hint {
  margin-bottom: 0;
}

.error,
.error-summary {
  border-left: 4px solid #b10e1e;
  padding-left: 10px;
}

@media (min-width: 641px) {
  .error,
  .error-summary {
    border-left: 5px solid #b10e1e;
    padding-left: 15px;
  }
}

.error-message {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  display: block;
  clear: both;
  margin: 0;
  padding: 5px 0 7px 0;
}

@media (min-width: 641px) {
  .error-message {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.error-summary {
  border: 4px solid #b10e1e;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px;
}

@media (min-width: 641px) {
  .error-summary {
    border: 5px solid #b10e1e;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px 15px;
  }
}

.error-summary:focus {
  outline: 3px solid #ffbf47;
}

.error-summary .error-summary-heading {
  margin-top: 0;
}

.error-summary p {
  margin-bottom: 10px;
}

.error-summary .error-summary-list {
  padding-left: 0;
}

@media (min-width: 641px) {
  .error-summary .error-summary-list li {
    margin-bottom: 5px;
  }
}

.error-summary .error-summary-list a {
  color: #b10e1e;
  font-weight: bold;
  text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form-date .form-group {
  float: left;
  width: 50px;
  margin-right: 20px;
  margin-bottom: 0;
  clear: none;
}

.form-date .form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-date .form-group input {
  width: 100%;
}

.form-date .form-group-year {
  width: 70px;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: 18px 30px 15px 54px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media (min-width: 641px) {
  .block-label {
    float: left;
  }
}

.block-label input {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  margin: 0;
  width: 29px;
  height: 29px;
}

.block-label:hover {
  border-color: #0b0c0c;
}

.block-label:last-child {
  margin-bottom: 0;
}

.inline .block-label {
  clear: none;
  margin-right: 10px;
}

.js-enabled label.selected {
  background: #fff;
  border-color: #0b0c0c;
}

.js-enabled label.focused {
  outline: 3px solid #ffbf47;
}

.js-enabled .focused input:focus {
  outline: none;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th,
table td {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  padding: 0.75em 1.25em 0.5625em 0;
  text-align: left;
  color: #0b0c0c;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  table th,
  table td {
    font-size: 16px;
    line-height: 1.25;
  }
}

table th {
  font-weight: 700;
}

table th.numeric {
  text-align: right;
}

table td.numeric {
  font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  text-align: right;
}

@media (min-width: 641px) {
  table td.numeric {
    font-size: 16px;
    line-height: 1.25;
  }
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 15px 15px 0;
  padding: 0.5263157895em 0.7894736842em 0.2631578947em 0.7894736842em;
  vertical-align: top;
}

.button:visited {
  background-color: #00823b;
}

.button:hover, .button:focus {
  background-color: #00692f;
}

.button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #00823b;
  -moz-box-shadow: 0 0 0 #00823b;
  box-shadow: 0 0 0 #00823b;
}

.button.disabled, .button[disabled="disabled"], .button[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
  cursor: default;
  background-color: #00823b;
}

.button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
}

.button:link, .button:hover, .button:focus, .button:visited {
  color: #fff;
}

.button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.button:active:before {
  top: -10%;
  height: 120%;
}

.button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 640px) {
  .button {
    width: 100%;
  }
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:focus {
  outline: 3px solid #ffbf47;
}

.button[disabled="disabled"] {
  background: #00823b;
}

.button[disabled="disabled"]:focus {
  outline: none;
}

.button-start,
.button-get-started {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  background-image: url("/public/images/icons/icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 0.3684210526em 2.1578947368em 0.2105263158em 0.8421052632em;
}

@media (min-width: 641px) {
  .button-start,
  .button-get-started {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .button-start,
  .button-get-started {
    background-image: url("/public/images/icons/icon-pointer-2x.png");
    background-size: 30px 19px;
  }
}

details {
  display: block;
}

details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.2631578947em;
}

details summary:hover {
  color: #2e8aca;
}

details summary:focus {
  outline: 3px solid #ffbf47;
}

details .summary {
  text-decoration: underline;
}

details .arrow {
  margin-right: .35em;
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

.list-bullet {
  list-style-type: disc;
  padding-left: 20px;
}

.list-number {
  list-style-type: decimal;
  padding-left: 20px;
}

.list-bullet,
.list-number {
  margin-top: 5px;
  margin-bottom: 20px;
}

.list-bullet li,
.list-number li {
  margin-bottom: 5px;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #global-breadcrumb:after, #content:after, fieldset:after, .form-group:after, .form-block:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.example-highlight-grid .grid-row {
  background: #bfc1c3;
}

.example-highlight-grid .column-highlight {
  background: #dee0e2;
  width: 100%;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.js-enabled .js-hidden {
  display: none;
}

.panel-indent {
  clear: both;
  border-left: 5px solid #bfc1c3;
  padding: 0.7894736842em;
  margin-bottom: 0.7894736842em;
}

.panel-indent :first-child {
  margin-top: 0;
}

.panel-indent :only-child,
.panel-indent :last-child {
  margin-bottom: 0;
}

.panel-indent-info {
  border-left-width: 10px;
}

.form-group .panel-indent {
  padding-bottom: 0;
}

.govuk-box-highlight {
  margin: 1em 0 1em 0;
  padding: 2em 0 1em 0;
  color: #fff;
  background: #28a197;
  text-align: center;
}

.beta-banner {
  padding: 10px 0 8px 0;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  .beta-banner {
    padding-bottom: 10px;
  }
}

.beta-banner p {
  margin: 0;
  color: #000;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .beta-banner p {
    font-size: 16px;
    line-height: 1.25;
  }
}

.beta-banner .phase-tag {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #f47738;
}

@media (min-width: 641px) {
  .beta-banner .phase-tag {
    vertical-align: baseline;
  }
}

@media (min-width: 641px) {
  .beta-banner .phase-tag {
    font-size: 16px;
    line-height: 1.25;
  }
}

.beta-banner span {
  vertical-align: top;
}

@media (min-width: 641px) {
  .beta-banner span {
    vertical-align: baseline;
  }
}

.beta-tag {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #f47738;
}

@media (min-width: 641px) {
  .beta-tag {
    vertical-align: baseline;
  }
}

@media (min-width: 641px) {
  .beta-tag {
    font-size: 16px;
    line-height: 1.25;
  }
}

.unbranded {
  background: #fff;
}

.unbranded * {
  font-family: Arial !important;
}

.unbranded #footer {
  border: 0;
  background: #fff;
}

.before-you-start li {
  margin-bottom: 20px;
}

.before-you-start details {
  margin-top: 5px;
}

.before-you-start strong {
  font-weight: bold;
}

.button-secondary {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
}

.button-secondary:visited {
  background-color: #dee0e2;
}

.button-secondary:hover, .button-secondary:focus {
  background-color: #d0d3d6;
}

.button-secondary:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #dee0e2;
  -moz-box-shadow: 0 0 0 #dee0e2;
  box-shadow: 0 0 0 #dee0e2;
}

.button-secondary.disabled, .button-secondary[disabled="disabled"], .button-secondary[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.button-secondary.disabled:hover, .button-secondary[disabled="disabled"]:hover, .button-secondary[disabled]:hover {
  cursor: default;
  background-color: #dee0e2;
}

.button-secondary.disabled:active, .button-secondary[disabled="disabled"]:active, .button-secondary[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
}

.button-secondary:link, .button-secondary:hover, .button-secondary:focus, .button-secondary:visited {
  color: #0b0c0c;
}

.button-secondary:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.button-secondary:active:before {
  top: -10%;
  height: 120%;
}

.button-secondary[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

.file-upload .well {
  margin-bottom: 30px;
}

.file-upload .well .button-choose-file {
  margin: 15px 0;
}

.file-upload #banner-notification {
  margin-top: 15px;
}

.help-text-reg {
  margin-bottom: 30px;
}

.button-get-started {
  background-image: url("/public/images/icons/icon-pointer.png");
}

.helpful-documents br {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.attachment .assistive-technology {
  color: #0b0c0c;
  font-family: "nta",Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 6px;
  text-transform: none;
}

.attachment .attachment-thumb {
  float: left;
  width: 124px;
  margin-top: 5px;
  padding-bottom: 15px;
  position: relative;
}

.attachment .attachment-thumb img {
  background: white none repeat scroll 0 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  display: block;
  height: 140px;
  outline: 5px solid rgba(11, 12, 12, 0.1);
  width: 99px;
}

.attachment .attachment-thumb a {
  display: inline-block;
}

.attachment .title a {
  text-decoration: underline;
}

.img-responsive {
  min-width: 100%;
  width: 100%;
  height: auto;
}

.permit-number {
  margin-bottom: 0;
}

.permit-number .permitnotfound {
  color: #b10e1e;
}

.permit-number .checking .loading img {
  vertical-align: middle;
}

.permit-number p .name {
  font-weight: bold;
}

.permit-number .title {
  font-weight: 600;
  margin-bottom: 0;
}

.permit-number .not-recognised {
  color: #0b0c0c;
}

.panel-indent.error {
  border-left: 4px solid #b10e1e;
}

.file-summary {
  margin-top: 0;
  margin-bottom: 30px;
}

.file-summary p .name {
  font-weight: bold;
}

.file-summary .title {
  font-weight: 600;
  margin-bottom: 0;
}

input.validation-code {
  width: 100px;
}

/* template */
.template .ea-id {
  max-width: 200px;
}

/* Warning weight */
.warning_message {
  border: 3px solid #F47738;
  padding: 15px 30px;
  margin-bottom: 30px;
  background-color: #FFBF47;
  min-height: 35px;
  max-width: 85%;
}

.warning-weight {
  font-weight: 600;
}

.warning-space {
  padding-top: 15px;
}

.icon-important {
  padding-right: 10px;
  padding-bottom: 20px;
  background: none;
}

/* Autocomplete */
.ui-autocomplete {
  padding: 0;
  list-style: none;
  background-color: #fff;
  width: 218px;
  border: 1px solid #B0BECA;
  max-height: 350px;
  overflow-x: hidden;
}

.ui-autocomplete .ui-menu-item {
  border-top: 1px solid #B0BECA;
  display: block;
  padding: 4px 6px;
  color: #353D44;
  cursor: pointer;
}

.ui-autocomplete .ui-menu-item:first-child {
  border-top: none;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #D5E5F4;
  color: #161A1C;
}

/* Example CSV */
.csv-explain .heading-medium span {
  font-weight: normal;
}

.csv-explain .example-csv {
  max-width: 100%;
  overflow-x: scroll;
  margin-bottom: 15px;
}

.csv-explain .example-csv th, .csv-explain .example-csv td {
  border: 1px solid #bfc1c3;
  padding: 3px 10px 3px 5px;
  white-space: nowrap;
}

.csv-explain .example-csv th {
  background: #dee0e2;
  font-weight: 400;
}

.csv-explain .example-csv .row-one td {
  font-weight: 600;
}

.csv-explain .example-csv tbody th {
  text-align: center;
  padding-right: 5px;
}

.csv-explain .data-rules .column-description {
  width: 20%;
}

.csv-explain .data-rules .column-heading {
  width: 15%;
}

.csv-explain .data-rules .description {
  width: 45%;
}

.csv-explain .data-rules .example {
  width: 20%;
}

.csv-explain .data-rules table td {
  vertical-align: top;
}

.csv-explain .data-rules table td b {
  font-weight: bold;
}

.csv-explain .data-rules table td.example {
  color: #6f777b;
  font-style: italic;
}

.csv-explain .save-as-csv b {
  font-weight: bold;
}

.csv-explain .save-as-csv img {
  margin-top: 15px;
}

/* Parameter list */
/* Error table */
.error-table {
  /* Parameters */
  /* Return type */
  /* Units */
}

.error-table table {
  margin-bottom: 30px;
}

.error-table table td {
  vertical-align: top;
}

.error-table table td b {
  font-weight: bold;
}

.error-table table td p:first-child {
  margin-top: 0;
}

.error-table table td p:last-child {
  margin-bottom: 0;
}

.error-table .error-table-parameters .form-hint {
  font-size: 16px;
}

.error-table .error-table-parameters .list li {
  line-height: 1.4em;
}

.error-table .error-table-return-type {
  position: relative;
}

.error-table .error-table-return-type ul li {
  position: relative;
  padding: 1px 0 2px;
}

.error-table .error-table-return-type ul li button {
  position: absolute;
  right: 0;
  font-size: 0.8em;
  margin-right: 0;
  top: 0px;
}

.error-table .error-table-return-type ul li.hover {
  background: #f8f8f8;
}

.error-table .error-table-units .filter {
  float: right;
}

.error-table .error-table-units .panel-indent .show-all {
  margin-bottom: 36px;
}

.error-table .error-table-units h2.heading-small {
  padding: 0.375em 0.625em 0.3125em 0;
  margin-top: 0;
}

.error-table .error-table-units .table-container {
  /*	height:200px; */
  /*	overflow:auto; */
}

.error-table .error-table-units table th {
  font-weight: 600;
}

.error-table .error-table-units table .unit {
  width: 25%;
}

.error-table .error-table-units table .description {
  width: 75%;
}

.error-table .error-table-units table th, .error-table .error-table-units table td {
  padding: 0.375em 0.625em 0.3125em 0;
}

.error-table .error-table-units table tr {
  display: table-row;
}

.error-table .error-table-units table td {
  display: table-cell;
}

.error-table .error-table-units .measure-type li {
  padding: 0.375em 0 0.3125em 0;
}

.error-table .error-table-units .measure-type li button {
  font-size: 14px !important;
  text-align: left;
  margin-bottom: 0 !important;
}

.error-table .error-table-units .measure-type li .button-secondary {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
}

.error-table .error-table-units .measure-type li .button-secondary:visited {
  background-color: #dee0e2;
}

.error-table .error-table-units .measure-type li .button-secondary:hover, .error-table .error-table-units .measure-type li .button-secondary:focus {
  background-color: #d0d3d6;
}

.error-table .error-table-units .measure-type li .button-secondary:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #dee0e2;
  -moz-box-shadow: 0 0 0 #dee0e2;
  box-shadow: 0 0 0 #dee0e2;
}

.error-table .error-table-units .measure-type li .button-secondary.disabled, .error-table .error-table-units .measure-type li .button-secondary[disabled="disabled"], .error-table .error-table-units .measure-type li .button-secondary[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.error-table .error-table-units .measure-type li .button-secondary.disabled:hover, .error-table .error-table-units .measure-type li .button-secondary[disabled="disabled"]:hover, .error-table .error-table-units .measure-type li .button-secondary[disabled]:hover {
  cursor: default;
  background-color: #dee0e2;
}

.error-table .error-table-units .measure-type li .button-secondary.disabled:active, .error-table .error-table-units .measure-type li .button-secondary[disabled="disabled"]:active, .error-table .error-table-units .measure-type li .button-secondary[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
}

.error-table .error-table-units .measure-type li .button-secondary:link, .error-table .error-table-units .measure-type li .button-secondary:hover, .error-table .error-table-units .measure-type li .button-secondary:focus, .error-table .error-table-units .measure-type li .button-secondary:visited {
  color: #0b0c0c;
}

.error-table .error-table-units .measure-type li .button-secondary:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.error-table .error-table-units .measure-type li .button-secondary:active:before {
  top: -10%;
  height: 120%;
}

.error-table .error-table-units .measure-type li .button-secondary[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

.error-table .error-table-units .measure-type li .button-secondary.active {
  outline: 3px solid #ffbf47;
  background-color: #fff;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #d9d9d9;
  -moz-box-shadow: 0 2px 0 #d9d9d9;
  box-shadow: 0 2px 0 #d9d9d9;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
}

.error-table .error-table-units .measure-type li .button-secondary.active:visited {
  background-color: #fff;
}

.error-table .error-table-units .measure-type li .button-secondary.active:hover, .error-table .error-table-units .measure-type li .button-secondary.active:focus {
  background-color: #f2f2f2;
}

.error-table .error-table-units .measure-type li .button-secondary.active:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 #fff;
  box-shadow: 0 0 0 #fff;
}

.error-table .error-table-units .measure-type li .button-secondary.active.disabled, .error-table .error-table-units .measure-type li .button-secondary.active[disabled="disabled"], .error-table .error-table-units .measure-type li .button-secondary.active[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.error-table .error-table-units .measure-type li .button-secondary.active.disabled:hover, .error-table .error-table-units .measure-type li .button-secondary.active[disabled="disabled"]:hover, .error-table .error-table-units .measure-type li .button-secondary.active[disabled]:hover {
  cursor: default;
  background-color: #fff;
}

.error-table .error-table-units .measure-type li .button-secondary.active.disabled:active, .error-table .error-table-units .measure-type li .button-secondary.active[disabled="disabled"]:active, .error-table .error-table-units .measure-type li .button-secondary.active[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #d9d9d9;
  -moz-box-shadow: 0 2px 0 #d9d9d9;
  box-shadow: 0 2px 0 #d9d9d9;
}

.error-table .error-table-units .measure-type li .button-secondary.active:link, .error-table .error-table-units .measure-type li .button-secondary.active:hover, .error-table .error-table-units .measure-type li .button-secondary.active:focus, .error-table .error-table-units .measure-type li .button-secondary.active:visited {
  color: #0b0c0c;
}

.error-table .error-table-units .measure-type li .button-secondary.active:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.error-table .error-table-units .measure-type li .button-secondary.active:active:before {
  top: -10%;
  height: 120%;
}

.error-table .error-table-units .measure-type li .button-secondary.active[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

.error-table .error-table-units .measure-type li:first-child {
  padding-top: 15px;
}

.help .column-three-quarters {
  float: left;
  width: 75%;
  box-sizing: border-box;
  padding: 0 15px;
}

.help .inner-block {
  padding: 0 30px;
}

.help .heading {
  padding: 45px 0;
}

.help .heading .type {
  color: #6f777b;
  margin-bottom: 0.2em;
}

.help .metadata-list {
  display: block;
  clear: both;
  margin-bottom: 30px;
  overflow: hidden;
}

.help .metadata-list a {
  text-decoration: none;
}

.help .metadata-list dl {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-transform: none;
}

.help .metadata-list dl dt {
  min-width: 120px;
  padding-right: 10px;
  width: auto;
  clear: left;
  float: left;
}

.help .metadata-list dl dd {
  width: 70%;
  float: left;
}

.help .contextual-info {
  padding-top: 5px;
}

.help .contextual-info h1 {
  font-family: "nta",Arial,sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.31579;
  padding-bottom: 3px;
  padding-top: 7px;
  text-transform: none;
}

.help .contextual-info ol {
  border-top: 1px solid #bfc1c3;
  font-family: "nta",Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  text-transform: none;
}

.help .contextual-info li {
  list-style: outside none none;
  margin-left: 0;
  padding-top: 0;
}

.help .contextual-info li a {
  border-bottom: 1px solid #bfc1c3;
  display: block;
  padding: 5px 0;
}

.help .summary {
  padding-bottom: 45px;
  padding-top: 15px;
}

.help .data-exchange-protocol h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .help .data-exchange-protocol h2 {
    font-size: 24px;
    line-height: 1.25;
  }
}

.help .data-exchange-protocol h3 {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .help .data-exchange-protocol h3 {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.help .data-exchange-protocol table {
  margin-bottom: 45px;
  margin-top: 15px;
}

/* REQUIRED for core functionality of tab.js */
.responsive-tabs__heading {
  display: none;
}

.responsive-tabs__list__item {
  display: inline;
  cursor: pointer;
}

@media (max-width: 640px) {
  .responsive-tabs__list {
    display: none;
  }
  .responsive-tabs__heading {
    display: block;
    cursor: pointer;
  }
  .responsive-tabs__panel--closed-accordion-only {
    display: none;
  }
  .error-table-units .filter {
    float: none;
    width: 100%;
  }
  .responsive-stacked-table thead {
    display: none;
  }
  .responsive-stacked-table tr,
  .responsive-stacked-table th,
  .responsive-stacked-table td {
    display: block;
    margin: 2px 0;
  }
  .responsive-stacked-table td {
    border: none;
  }
  .responsive-stacked-table tr td:first-child {
    border-top: 1px solid #000;
    font-weight: bold;
  }
  .responsive-stacked-table tr td:first-child {
    font-weight: 300;
  }
  .responsive-stacked-table td:before {
    display: block;
    font-weight: bold;
  }
  .responsive-stacked-table td:nth-of-type(1):before {
    content: "Row:";
  }
  .responsive-stacked-table td:nth-of-type(2):before {
    content: "Column:";
  }
  .responsive-stacked-table td:nth-of-type(3):before {
    content: "Error:";
  }
  .responsive-stacked-table td:nth-of-type(4):before {
    content: "How to fix it:";
  }
  .responsive-stacked-table td td,
  .responsive-stacked-table td td:first-child {
    border-top: 1px solid #bfc1c3;
  }
  .responsive-stacked-table td td:nth-of-type(1):before {
    content: none;
  }
  .responsive-stacked-table td td:nth-of-type(2):before {
    content: none;
  }
}

@media (min-width: 769px) {
  .responsive-tabs__panel--closed-accordion-only {
    display: block;
  }
}

/* END - Required for core functionality of tab.js */
.responsive-tabs-wrapper {
  clear: both;
  zoom: 1;
}

.responsive-tabs-wrapper:before,
.responsive-tabs-wrapper:after {
  content: "";
  display: table;
}

.responsive-tabs-wrapper:after {
  clear: both;
}

.responsive-tabs__heading:focus,
.responsive-tabs__list__item:focus {
  outline: 3px solid #ffbf47;
}

.responsive-tabs__heading--active:focus,
.responsive-tabs__list__item--active:focus {
  outline: 3px solid #ffbf47;
}

.responsive-tabs__list {
  margin: 2em 0 0 0;
  padding: 0;
  border-bottom: 1px solid #bfc1c3;
  padding-bottom: 19px;
  font-size: 16px;
  line-height: 16px;
}

.responsive-tabs__list__item {
  padding: 10px 20px;
  margin-right: 0.3em;
  border: 1px solid #dee0e2;
  border-collapse: collapse;
  border-spacing: 0;
  background: #dee0e2;
  line-height: 16px;
  font-size: 16px;
  text-align: left;
}

.responsive-tabs__list__item:hover {
  background: #dee0e2;
}

.responsive-tabs__list__item--active,
.responsive-tabs__list__item--active:hover {
  background: #fff;
  border: 1px solid #bfc1c3;
  border-bottom: 0;
  color: #0b0c0c;
  padding: 16px 20px 17px;
}

.responsive-tabs__panel {
  margin-bottom: 1.05263em;
}

.responsive-tabs th p {
  margin-right: 15px;
}

.responsive-tabs td {
  padding-right: 5px;
}

.back-to-top a {
  float: right;
  padding-bottom: 15px;
}

@media (max-width: 640px) {
  .responsive-tabs__heading {
    padding: 0.5em;
    border: 1px solid #ccc;
    background: #dee0e2;
    position: relative;
    margin-bottom: 10px;
  }
  .responsive-tabs__heading:after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 40%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
  }
  .responsive-tabs__heading:hover,
  .responsive-tabs__heading--active:hover {
    background-color: #fff;
  }
  .responsive-tabs__heading--active {
    background: #fff;
  }
  .responsive-tabs__heading--active:after {
    border-bottom: 10px solid #000;
    border-top: 0;
  }
  .responsive-tabs {
    width: 100%;
  }
}
