// Error table
.error-table {
	margin-bottom:30px;
	td {
		vertical-align:top;
		p:first-child {
			margin-top:0;
		}
		p:last-child {
			margin-bottom:0;
		}
	}
}

.single-column {
	width:inherit;
}

// Example file
.example-file {
  width:100%;
  margin-bottom:60px;
  margin-right:15px;
  table {
    th, td {
      white-space: nowrap;
    }
  }
}
