{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Data Returns resources</h1>
	<!-- feel free to change this page to suit your needs -->

	
	<h2 class="heading-large">Test pages</h2>
	<ul>
		<li>
			<a href="/autocomplete/autocomplete">Parameter autocomplete</a>
		</li>
		<li>
			<a href="/parameter-list/parameter-list">Parameter list (filter)</a>
		</li>
		<li>
			<a href="/formatting-rules/formatting-rules">Formatting rules</a>
		</li>
	</ul>
	
	
	<h2 class="heading-large">Corrections table</h2>
	<ul>
		<li>
			<a href="/corrections/">Index</a>
		</li>
	</ul>
	

	<div class="hidden">
	<h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>
	</div>
</main> 

{{/content}}

{{/layout}}
