{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/public/javascripts/jquery-ui.min.js"></script>
	<script src="/public/javascripts/clipboard.min.js"></script>
</header>
<main id="content" role="main" class="data-exchange-protocol">
	<div class="phase-banner beta-banner">
		<p>
			<strong class="phase-tag">BETA</strong>
			<span>This is a new service &ndash; your
				<a href="#1" data-toggle="modal" data-target="#unavailable">feedback</a> will help us to improve it.</span>
		</p>
	</div>
	<div class="heading">
		<p class="type font-medium">Send your data returns online</p>
		<h1 class="bold-large">How to format Environment Agency data</h1>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">
			<aside class="meta metadata-list">
				<dl>
					<dt>From:</dt>
					<dd class="js-hide-extra-metadata">
						<a class="organisation-link" href="https://www.gov.uk/government/organisations/environment-agency">Environment Agency</a>
					</dd>
					<dt>First published:</dt>
					<dd>
						<time class="date" datetime="2016-01-13T16:25:00+01:00">13 January 2016</time>
					</dd>
				</dl>
			</aside>
		</div>
	</div>
	<p class="lede">Follow rules to format data that meets Environment Agency standards then submit your data returns online.</p>
	<div class="grid-row">
		<div class="column-third">
			  <nav class="contextual-info" id="page-navigation">
				<h1>Contents</h1>
					<ol class="dash-list">
						<li>
							<a href="#data-rules">Environmental Permitting Regulations (EPR) data rules and return type rules</a>
						</li>
						<li>
							<a href="#general-rules">General rules: time and symbols</a>
						</li>
						<li>
							<a href="#agreed-lists">Controlled lists</a>
						</li>
					</ol>
				</nav>
		</div>
		<div class="column-two-thirds">
			<p>You can submit landfill emissions compliance data using the <a href="#2" data-toggle="modal" data-target="#unavailable">online service</a>. First you must correctly format data to meet Environment Agency standards. Once you’ve formatted your data you must <a href="#3" data-toggle="modal" data-target="#unavailable">save it as a CSV file</a>.</p>

			<p>Set up your data management systems using these rules to produce an automated export of data in the correct format.</p>
			
			<p>Follow these steps to correctly format your data:</p>
			<ul class="list list-number">
				<li>apply rules to correctly format data under <a href="/help/detailed-guides/regime-specific-rules">Environmental Permitting Regulations (EPR)</a></li>
				<li>check if there are any further rules that apply to <a href="/help/detailed-guides/return-type-rules">specific return types</a></li>
				<li>check if you need to apply general rules on allowable formats, eg for symbols</li>
				<li>save your data file as CSV</li>
			</ul>
			<p><a href="#7" data-toggle="modal" data-target="#unavailable"></a></p>

			<section class="attachment clearfix embedded" id="attachment">
				<div class="attachment-thumb">
					<a aria-hidden="true" class="thumbnail" href="#8" data-toggle="modal" data-target="#unavailable"><img alt="CSV icon" src="/public/images/example-csv.png"></a>
				</div>
				<div class="attachment-details">
					<p class=""><a aria-describedby="attachment" href="/public/resources/SAMPLE_TEST_FILE.csv">Download an example of an EPR data returns file saved as CSV</a></p>
					<p class="metadata">
							<span class="type"><abbr title="Comma Separated File">CSV</abbr></span>, <span class="file-size">1KB</span>
					</p>
				</div>
			</section>
			
			<section class="attachment clearfix embedded" id="attachment">
				<div class="attachment-thumb">
					<a aria-hidden="true" class="thumbnail" href="#9" data-toggle="modal" data-target="#unavailable"><img alt="PDF icon" src="/public/images/example-pdf.png"></a>
				</div>
				<div class="attachment-details">
					<p class=""><a aria-describedby="attachment" href="#9" data-toggle="modal" data-target="#unavailable">Download a printable PDF version of this guidance</a></p>
					<p class="metadata">
							<span class="type"><abbr title="Comma Separated File">PDF</abbr></span>, <span class="file-size">31KB</span>
					</p>
				</div>
			</section>
			
			<section class="group" id="document_collection">
				<div class="editions">
					<h2 id="data-rules">Rules for Environmental Permitting Regulations data compliance</h2>
					<div class="group-body">
						<div class="govspeak">
							<p>Follow rules about each field heading in your data return file to meet Environment Agency standards.</p>
						</div>
					</div>
					<ol class="document-list">
						<li class="publication document-row" id="publication_358572">
							<h3>
								<a href="/help/detailed-guides/regime-specific-rules">Environmental Permitting Regulations (EPR) data rules</a>
							</h3>
							<ul class="attributes">
								<li class="date">
									<time class="public_timestamp" title="2016-01-13T16:25:00+01:00">13 January 2016</time>
								</li>
								<li class="display-type attribute">Guidance</li>
							</ul>
						</li>
						<li class="publication document-row" id="publication_358572">
							<h3>
								<a href="/help/detailed-guides/return-type-rules">Specific rules for EPR return types</a>
							</h3>
							<ul class="attributes">
								<li class="date">
									<time class="public_timestamp" title="2016-01-13T16:25:00+01:00">13 January 2016</time>
								</li>
								<li class="display-type attribute">Guidance</li>
							</ul>
						</li>
					</ol>
				</div>
			</section>
			<section class="group" id="document_collection">
				<div class="editions">
					<h2 id="general-rules">General rules: time and symbols</h2>
					<div class="group-body">
						<div class="govspeak">
							<p>Use these rules on how to format date and time in your data returns to meet Environment Agency standards.</p>
						</div>
					</div>
					<ol class="document-list">
						<li class="publication document-row" id="publication_358572">
							<h3>
								<a href="/help/detailed-guides/date-and-time">Date and time</a>
							</h3>
							<ul class="attributes">
								<li class="date">
									<time class="public_timestamp" title="2016-01-13T16:25:00+01:00">13 January 2016</time>
								</li>
								<li class="display-type attribute">Guidance</li>
							</ul>
						</li>
						<li class="publication document-row" id="publication_293000">
							<h3>
								<a href="/help/detailed-guides/symbols">Symbols</a>
							</h3>
							<ul class="attributes">
								<li class="date">
									<time class="public_timestamp" title="2016-01-13T16:25:00+01:00">13 January 2016</time>
								</li>
								<li class="display-type attribute">Guidance</li>
							</ul>
						</li>
					</ol>
				</div>
			</section>
			
			<section class="group" id="document_collection">
				<div class="editions">
					<h2 id="agreed-lists">Controlled lists</h2>
					<div class="group-body">
						<div class="govspeak">
							<p>You need to select the correct name from these controlled lists under certain field headings, such as parameter, when you complete your data returns. These lists support Environment Agency data standards and help reduce errors in your compliance monitoring.
							</p>
						</div>
					</div>
					<ol class="document-list">
						<li class="publication document-row" id="publication_358588">
							<h3>
								<a href="/help/detailed-guides/units-and-measures">Units and measures</a>
							</h3>
							<ul class="attributes">
								<li class="date">
									<time class="public_timestamp" title="2016-01-13T16:25:00+01:00">13 January 2016</time>
								</li>
								<li class="display-type attribute">Guidance</li>
							</ul>
						</li>
						<li class="publication document-row" id="publication_293000">
							<h3>
								<a href="/help/detailed-guides/parameters">Parameters - substance names - and CAS</a>
							</h3>
							<ul class="attributes">
								<li class="date">
									<time class="public_timestamp" title="2016-01-13T16:25:00+01:00">13 January 2016</time>
								</li>
								<li class="display-type attribute">Guidance</li>
							</ul>
						</li>
						<li class="publication document-row" id="publication_293000">
							<h3>
								<a href="/help/detailed-guides/reference-periods">Reference periods</a>
							</h3>
							<ul class="attributes">
								<li class="date">
									<time class="public_timestamp" title="2016-01-13T16:25:00+01:00">13 January 2016</time>
								</li>
								<li class="display-type attribute">Guidance</li>
							</ul>
						</li>
						<li class="publication document-row" id="publication_293000">
							<h3>
								<a href="/help/detailed-guides/monitoring-frequency">Monitoring frequency</a>
							</h3>
							<ul class="attributes">
								<li class="date">
									<time class="public_timestamp" title="2016-01-13T16:25:00+01:00">13 January 2016</time>
								</li>
								<li class="display-type attribute">Guidance</li>
							</ul>
						</li>
						<li class="publication document-row" id="publication_293000">
							<h3>
								<a href="/help/detailed-guides/monitoring-standard">Monitoring standard or method</a>
							</h3>
							<ul class="attributes">
								<li class="date">
									<time class="public_timestamp" title="2016-01-13T16:25:00+01:00">13 January 2016</time>
								</li>
								<li class="display-type attribute">Guidance</li>
							</ul>
						</li>
						<li class="publication document-row" id="publication_293000">
							<h3>
								<a href="/help/detailed-guides/return-type">Return type</a>
							</h3>
							<ul class="attributes">
								<li class="date">
									<time class="public_timestamp" title="2016-01-13T16:25:00+01:00">13 January 2016</time>
								</li>
								<li class="display-type attribute">Guidance</li>
							</ul>
						</li>
						<li class="publication document-row" id="publication_293000">
							<h3>
								<a href="/help/detailed-guides/qualifiers">Qualifiers</a>
							</h3>
							<ul class="attributes">
								<li class="date">
									<time class="public_timestamp" title="2016-01-13T16:25:00+01:00">13 January 2016</time>
								</li>
								<li class="display-type attribute">Guidance</li>
							</ul>
						</li>
					</ol>
				</div>
			</section>
		</div>
	</div>
</main>


<!-- Modal -->
<div class="modal fade" id="unavailable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Sorry, this feature isn't currently available as we're still developing this service.
      </div>
      <div class="modal-footer">
        <button type="button" class="button" data-dismiss="modal">Go back</button>
      </div>
    </div>
  </div>
</div>

{{/content}}

{{/layout}}
